.vc-settings-tab-bar {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-subtle);
}

.vc-settings-tab-bar-item {
    margin-right: 32px;
    padding-bottom: 16px;
    margin-bottom: -2px;
}

.vc-warning-card {
    padding: 1em;
    background: var(--background-feedback-warning);
    border: 1px solid var(--text-status-idle);
    color: var(--text-status-idle);
}

.vc-cloud-erase-data-danger-btn {
    color: var(--control-critical-primary-text-default);
    background-color: var(--control-critical-primary-background-default);
}
