.vc-plugins-management-cards.vc-plugins-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}

.vc-plugins-management-cards .vc-plugin-card-root {
    width: auto;
    height: auto;
    max-width: 440px;
}
